.contain{
	width: 1000px;
	margin-left: -500px;
	left:50%;
	position:absolute;
	font-family: Arial;
	background-color: white;
	text-align: center;
	background-color: #ECEADD;
}
.top{
	text-align: left;
	width: 1000px;
}
.label{
	margin: 4px;
}
.applyBox{
	margin-top: 72px;
	margin-bottom: 64px;
}
.applyBackBox{
	width: 1000px;
	height: 380px;
	margin-top: 72px;
	margin-bottom: 48px;
	background-image: url("../image/main/characterImage.png")
}
.shareBox{
	margin-top: 48px;
}
.share{
	vertical-align: top;
	margin: 12px;
}
.shareGift{
	float: right;
	margin-left: -16px;
	margin-right: 16px;
}
.shareButton{
	margin: 12px;
}
.shareButtonBox{
	margin-top: -108px;
	padding-right: 80px;
}
.caution{
	margin-top: 64px;
}
#popUp_1{
	width: 580px;
	height: 641px;
	background-image: url("../image/popup/1/applyPopup1_BG.png");
	padding: 0px;
	left: 50%;
	position:absolute;
	text-align: center;
	margin-top: -320px;
	margin-left: -300px;
}

.popUP_1_gift{
	margin: 12px;
	margin-bottom: 4px;
}

.popUP_1_giftLabelBox{
	width: 580px;
	text-align: left;
	font-size: 12px;
}

#popUp_2{
	width: 594px;
	height: 816px;
	background-image: url("../image/popup/2/applyPopup2_BG.png");
	padding: 0px;
	left: 50%;
	position:absolute;
	text-align: center;
	margin-top: -408px;
	margin-left: -300px;
}

.popUP_2_inputBox{
	width: 452px;
	height: 447px;
	background-image: url("../image/popup/2/applyPopup2_BG2.png");
	margin-left: 41px;
	margin-top: 24px;
	margin-bottom: 32px;
	padding-top: 32px;
	padding-left: 48px;
	text-align: left;
}

#popUp_3{
	width: 594px;
	height: 733px;
	background-image: url("../image/popup/3/applyPopup3_BG.png");
	padding: 0px;
	left: 50%;
	position:absolute;
	text-align: center;
	margin-top: -366px;
	margin-left: -300px;
}

.popUP_3_inputBox{
	width: 452px;
	height: 206px;
	background-image: url("../image/popup/3/applyPopup3_BG2.png");
	margin-left: 41px;
	margin-top: 24px;
	margin-bottom: 32px;
	padding-top: 32px;
	padding-left: 48px;
	text-align: left;
}

#popUp_4{
	width: 594px;
	height: 333px;
	background-image: url("../image/popup/4/applyPopup4_BG.png");
	padding: 0px;
	left: 50%;
	position:absolute;
	text-align: center;
	margin-top: -166px;
	margin-left: -300px;
}

#popUp_5{
	width: 654px;
	height: 631px;
	background-image: url("../image/popup/5/applyPopup5_BG.png");
	padding: 0px;
	left: 50%;
	position:absolute;
	text-align: center;
	margin-top: -300px;
	margin-left: -327px;
}

.popUp_5_inBox{
	width: 590px;
	height: 360px;
	overflow: hidden;
	margin-left: 24px;
}

.popUp_5_addition{
	margin-top: -220px;
	margin-left: -10px;
}

.popUp_5_button{
	margin-top: 186px;
	margin-left: -16px;
}

#popUp_blog{
	width: 594px;
	height: 485px;
	background-image: url("../image/popup/blog/applyPopup6_BG.png");
	padding: 0px;
	left: 50%;
	position:absolute;
	text-align: center;
	margin-top: -242px;
	margin-left: -300px;
}

.inPopup{
	padding-top: 88px;
}
image{
	border: 0;
}