<div id="social_popUp_6">
  <div class = "inPopup">
    <%= image_tag("winner/pc/winner_title.png")%>
    <div class="personal_agree_text">
      <div class="personal_info_text">
        <%= render "winners"%>
      </div>
    </div>
    <%= image_tag("winner/pc/winner_text.png")%>
  </div>
</div>