<div id="social_popUp_6">
  <div class = "inPopup">
    <%= image_tag("popup/social_p6.png", class: "social_popUp_4_Label") %>
    <br />
    <a id="social_applyPopup6_fb" href = "#"><%= image_tag("popup/6/btn_fb.png") %></a>
    <a id="social_applyPopup6_blog" href = "#"><%= image_tag("popup/6/btn_blog.png") %></a>
  </div>
</div>