<link rel = "stylesheet" type = "text/css" href = "./style/mWebStyle.css" />
 <meta name = "viewport" content = "width=device-width, inital-scale=1.0, maxium-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<div class = "mobileContain">
	<!--top : 로고를 포함한 컨테이너-->
    <div class = "top">
        <a href = "http://www.evezary.co.kr/">
            <img class = "logo" src = "./image/mobile/logo.png" alt = "logo"/>
        </a>
    </div>
    <!-- 라벨 -->
    <div class = "showing">
        <img class = "mobile80" src = "./image/mobile/Label_1.png" alt = "Label_1" />
        <br />
        <img class = "mobile" src = "./image/mobile/Image_1.png" alt = "Image_1" />
        <br />
    </div>
    <a id = "mobile_apply" href = "./html/mobile_apply_1.html">
        <img class = "mobile_1" src = "./image/mobile/apply_button.png" alt = "apply"/>
    </a>
    <!-- 소문내기 -->
    <div class = "shareEvent">
        <img class = "mobile_2" src = "./image/mobile/dotLine.png" alt = "dotLine" /><br />
        <p class = "">
            <img class = "label1" src = "./image/mobile/Label_2.png" alt = "Label_2" />
        </p>
        <a id = "mobile_k" href = "#">
            <img class = "Button" src = "./image/mobile/share_Kakao.png" alt = "share_Kakao" /> </a>
        <br />
        <a id = "mobile_ks" href = "#">
            <img class = "Button" src = "./image/mobile/share_Kakaostory.png" alt = "share_Kakaostory" />
        </a>
        <br />
        <a id = "mobile_f" href = "#">
            <img class = "Button" src = "./image/mobile/share_Facebook.png" alt = "share_Facebook" />
        </a>
        <br />
        <img class = "Line" src = "./image/mobile/dotLine.png" alt = "dotLine" />
        <br />
    </div>
    <!-- 경품 -->
    <img class = "Gift" src = "./image/mobile/gift.png" alt = "gift" />
    <!-- 유의사항 -->
    <div class = "cautionBox">
        <img class = "mobile" src = "./image/mobile/caution.png" alt = "caution" />
     </div>
</div>