<!DOCTYPE HTML>
<html>
	<head>
		<title>Hello Evezary</title>
		<link rel = "stylesheet" type = "text/css" href = "../../assets/stylesheets/style.css" />
                        <link rel = "stylesheet" type = "text/css" href = "../../assets/stylesheets/mPopupStyle.css" />
                        <meta name = "viewport" content = "width=device-width, inital-scale=1.0, maxium-scale=1.0, minimum-scale=1.0, user-scalable=no" />
                        <meta charset = "utf-8" />
	</head>
	<body id = "indexBody">
                <div class = "mobilePopContain">
                    <img class = "mp2_Label1" src = "../../../public/image/mpopup/2/m2_Label1.png" alt = "m2_Label1"/>
                    <div class = "mp2_PopInbox">
                        <form>
                             <img src = "../../../public/image/mpopup/2/m2_Label2.png" class = "mp2_Label2" alt = "m2_InputLabel_2"/>
                             <br />
                            <!-- 이름 -->
                            <img src = "../../../public/image/mpopup/2/m2_Label3.png" class = "mp2_Label3" alt = "m2_InputLabel_2"/>
                             <input type = 'text' id = 'momPhone_1' class = 'mp2_InputWide' />
                            <br />
            
                            <!-- 전화번호 -->
                            <img src = "../../../public/image/mpopup/2/m2_Label4.png" class = "mp2_Label4" alt = "m2_Label4"/>
                            <input type = 'text' id = 'momPhone_1' class = 'mp2_Input' />
                             <img src = "../../../public/image/mpopup/2/m2_line.png" class = "mp2_lineLabel" alt = "m2_line"/>
                            <input type = 'text' id = 'momPhone_2' class = 'mp2_Input' />
                             <img src = "../../../public/image/mpopup/2/m2_line.png" class = "mp2_lineLabel" alt = "m2_line"/>
                            <input type = 'text' id = 'momPhone_3' class = 'mp2_Input' /><br />
                            
                            <!-- 이메일 -->
                            <img src = "../../../public/image/mpopup/2/m2_Label5.png" class = "mp2_Label5" alt = "m2_Label5"/>
                             <input type = 'text' id = 'momPhone_1' class = 'mp2_InputWide' />
                            <br />

                             <img src = "../../../public/image/mpopup/2/m2_LongLine.png" class = "mp2_LineLabel" alt = "m2_LongLine"/>
                            
                             <img src = "../../../public/image/mpopup/2/m2_Label6.png" class = "mp2_Label6" alt = "m2_Label6"/>
                            <img src = "../../../public/image/mpopup/2/m2_Label7.png" class = "mp2_Label7" alt = "m2_Label7"/>
                            <input type = "radio" name = "agree" value = "a"/>
                            <img src = "../../../public/image/mpopup/2/m2_Label8.png" class = "mp2_Label8" alt = "m2_Label8"/>
                             <input type = "radio" name = "agree" value = "d"/>
                            <img src = "../../../public/image/mpopup/2/m2_CautionBtn.png" class = "mp2_CautionBtn" alt = "m2_CautionBtn"/>
                        </form>
                    </div>
                     <img src = "../../../public/image/mpopup/2/m2_Label9.png" class = "mp2_Label9" alt = "m2_Label9"/>
                    <a id = "m2_endButton" href = "../index.html"><img class = "mp2_EndBtn" src = "../../../public/image/mpopup/2/m2_endButton.png" alt = "m2_endButton"/></a>
                 </div>
	</body>
</html>