<div id="popUp_6">
  <div class="inPopup">
    <%= image_tag("popup/6/popup6_title.png", class: "popUp_4_Label") %>
    <br />
    <a id="applyPopup6_fb" href = "#"><%= image_tag("popup/6/btn_fb.png") %></a>
    <a id="applyPopup6_blog" rel = "modal:close" href = "#"><%= image_tag("popup/6/btn_blog.png") %></a>
  </div>
</div>