<div id = "popUp_blog">
	<div class = "inPopup">
        <%= image_tag("popup/blog/applyPopup6_Label_1.png", class:"popUp_blog_Label1") %><br />
        <%= image_tag("popup/blog/applyPopup6_Line.png") %><br />
		<p id="viral-blog-url" class="popUp_blog_siteBox">[데이트 신청하기]가 완료되어야 코드가 발급됩니다.</p>
		<a id = "applyPopup6_finButton" href = "#">
            <%= image_tag("popup/blog/applyPopup6_download.png") %>
        </a>
        <%= image_tag("popup/blog/applyPopup6_Check.png", class:"popUp_blog_Label2") %>
	</div>
</div>