<div id = "popUp_2">
	<div class = "inPopup">
		<img src = "./image/popup/2/applyPopup2_Label_1.png" alt = "applyPopup1_Label"/>
		<div class = "popUp_2_inputBox">
			<form>
				<!-- 내 번호 -->
				<img src = "./image/popup/2/applyPopup2_InputLabel_1.png" class = "popUp_2_InputLabel1" alt = "applyPopup2_InputLabel_1"/>
				<input type = 'text' id = 'myPhone_1' class = "popUp_2_Input" />
				-
				<input type = 'text' id = 'myPhone_2' class = "popUp_2_Input" />
				-
				<input type = 'text' id = 'myPhone_3' class = "popUp_2_Input" /><br />

				<!-- 엄마 번호 -->
				<img src = "./image/popup/2/applyPopup2_InputLabel_2.png" class = "popUp_2_InputLabel2" alt = "applyPopup2_InputLabel_2"/>
				<input type = 'text' id = 'momPhone_1' class = "popUp_2_Input" />
				-
				<input type = 'text' id = 'momPhone_2' class = "popUp_2_Input" />
				-
				<input type = 'text' id = 'momPhone_3' class = "popUp_2_Input" /><br />

				<!-- 라벨 -->
				<img src = "./image/popup/2/applyPopup2_InputCautionLabel_1.png" class = "popUp_2_Label1" alt = "applyPopup2_InputCautionLabel_1"/>
				<img src = "./image/popup/2/applyPopup2_Line.png" class = "popUp_2_Label2" alt = "applyPopup2_Line"/>

				<!-- 메시지 -->
				<img src = "./image/popup/2/applyPopup2_InputLabel_3.png" style = "vertical-align: top; margin-left: -2px; margin-right: 38px; margin-top: 28px;" alt = "applyPopup2_InputLabel_3"/>
				<textarea style = "margin-top: 28px; width: 318px; height: 108px; resize: none;">엄마에게 전달할 메시지를 적어보세요. (아직 사라지게 안만들었습니다.)</textarea>
				<img src = "./image/popup/2/applyPopup2_Line.png" style = "margin-top: 24px;" alt = "applyPopup2_Line"/>

				<!-- 매장선택 -->
				<img src = "./image/popup/2/applyPopup2_InputLabel_4.png" class = "popUp_2_InputLabel3" alt = "applyPopup2_InputLabel_4"/>
				<select class = "popUp_2_select">
					<option>form의 디자인 개선 및 밸류값 주입 필요.</option>
					<option>방배동 코디센 매장 1.</option>
					<option>방배동 코디센 매장 2.</option>
					<option>방배동 코디센 매장 3.</option>
				</select>

				<!-- 라벨 -->
				<img src = "./image/popup/2/applyPopup2_InputCautionLabel_2.png" class = "popUp_2_Label3" alt = "applyPopup2_InputCautionLabel_2"/>
				<a href = "#"><img src = "./image/popup/2/applyPopup2_SelectButton.png" class = "popUp_2_selectBtn" alt = "applyPopup2_SelectButton"/></a>
			</form>
		</div>
		<a id = "applyPopup2_sendButton" href = "#"><img src = "./image/popup/2/applyPopup2_send.png" alt = "applyPopup2_send"/></a>
	</div>
</div>