<html>
<head>
<%= javascript_include_tag "mobile" %>
<script>
$(document).ready(function() {
kakao.link("talk").send({
    msg : "지금 엄마에게 문자로 데이트 신청하세요. 엄마와 함께 혼수침구도 고르고 웨딩준비 선물을 받는 행운까지 누리세요!",
    url : "http://event3.evezary.co.kr",
    appid : "event3.evezary.co.kr",
    appver : "1.0",
    appname : "엄마와 특별한데이트",
    type : "link"
});
_gaq.push("send", "event", "button", "click", "카톡 모바일 1551");
loadJsFile("http://i51.icast-ad.com/track?ccd=1251&mcd=01040601&pcd=1551");
});
</script>
</head>
<body>
</body>
</html>