.mobilePopContain{
    text-align: center;
    margin-top: 10%;
}

.mp1_Label1{
    width: 60%;
}

.mp1_PopInbox{
    width: 92%;
    background-image: asset-url("mpopup/1/m1_background.png");
    background-size: 100% 100%;
    margin-top: 8%;
    margin-bottom: 8%;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 1%;
    text-align: left;
}

.mp1_InputLabel1{
    width: 10%;
    margin-right: 7%;
}
.mp1_InputLabel2{
    width: 13%;
    margin-right: 4%;
    margin-top: 5%;
}
.mp1_input{
    width: 17%;
    font-size: 1.2em;
    padding-left: 4%;
    padding-right: 4%;
    border-width: 1px;
    -webkit-appearance: none;
    border-radius: 0;
    border-color: #B5B5B5;
}
.mp1_lineLabel{
    width: 0.8%;
    margin-right: -0.4%;
    margin-left: -0.4%;
}

.mp1_textArea{
    margin-top: 5%;
    width: 96%;
    height: 9em;
    font-size: 1em;
    resize: none;
    border-width: 1px;
    border-color: #999999;
    -webkit-appearance: none;
    border-radius: 0;
    border-color: #B5B5B5;
}
.mp1_select{
    width: 97%;
    height: 3em;
    margin-top: 5%;
    border-radius: 0;
}
.mp1_selectBtn{
    width: 30%;
    margin-top: 4%;
}
.mp1_guide_text{
  margin-top: 1%;
}
.mp1_Label2{
    vertical-align: top;
    margin-top: 5%;
    width: 55%;
    margin-right: 11%;
}

.mp1_sendBtn{
    width: 60%; 
    margin-bottom: 5%;
}

.mp1_sendBtn{
  -webkit-appearance: none;
  border-radius: 0;
}


.mp2_Label1{
    width: 60%
}

.mp2_PopInbox{
     width: 92%;
    background-image: asset-url("mpopup/1/m1_background.png");
    background-size: 100% 100%;
    margin-top: 8%;
    margin-bottom: 8%;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 1%;
    text-align: left;
}

.mp2_Label2{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
}
.mp2_Label3{
    width: 6%;
    margin-right: 9%;
}
.mp2_InputWide{
    width: 74%;
    margin-bottom: 3%;
    font-size: 1.2em;
    padding-left: 4%;
    padding-right: 4%;
    border-width: 1px;
    -webkit-appearance: none;
    border-radius: 0;
    border-color: #B5B5B5;
}
.mp2_Label4{
    width: 12%;
    margin-right: 3%;
    margin-top: 5%;
}
.mp2_Input{
    width: 17%;
    font-size: 1.2em;
    padding-left: 4%;
    padding-right: 4%;
    border-width: 1px;
    -webkit-appearance: none;
    border-radius: 0;
    border-color: #B5B5B5;
}
.mp2_lineLabel{
    width: 0.8%;
    margin-right: -0.4%;
    margin-left: -0.4%;
    border-width: 1px;
}

.mp2_Label5{
    width: 9%;
    margin-right: 6%; 
    margin-top: 8%; 
}

.mp2_LineLabel{
    width: 98%;
    margin-right: -0.4%;
    margin-left: -0.4%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.mp2_Label6{
    width: 20%;
}
.mp2_Label7{
    width: 9%;
    margin-left: 5%;
    margin-right:1%;
}
.mp2_Label8{
    width: 12%;
    margin-left: 5%;
    margin-right: 1%;
}
.mp2_CautionBtn{
    width: 22%;
    margin-left: 4%;
    vertical-align: middle;
  margin-top:-1%;
}

.mp2_Label9{
    width: 75%;
    margin-bottom: 5%;;
}

.mp2_EndBtn{
    width: 60%;
    margin-bottom: 5%;
    border-radius: 0;
}

.mp3_Label1{
  width: 60%;
  margin-bottom: 10%;
}

.mp3_EndBtn{
  width: 60%;
}

.mp_closeBox{
  width: 100%;
  top: 0;
}

.mp_close{
  position:absolute;
  width: 12.5%;
  top: 0;
  right: 0;
}

.mobile-user-form{
  text-align: center;
}