.top{
	text-align: left;
}

.logo{
	width: 30%;
	margin-bottom: 5%;
	margin: 3%;
}

.mobileContain{
	text-align: center;   
}

.mobile{
	width: 95%;
}
.mobile80{
	width: 80%;
}
.mobile_1{
	width: 95%;
	margin-top: 5%;
	margin-bottom: 8%;
}
.mobile_2{
	width: 95%;
	margin-bottom: 8%;
}

.label1{
	width: 40%;
	margin-left: -53%;
	margin-bottom: 2%;
}

.Button{
	width: 95%;
	margin-bottom: 3%;
}

.Line{
	width: 95%;
	margin-top: 5%;
}

.Gift{
	width: 95%;
	margin-top: 5%;
}

.shareEvent{
	margin-top: 5%;
	margin-bottom: 5%;
}

.cautionBox{
	width: 100%;
	background-color: white;
	margin-top: 5%;
}
