/* popup 1 */
#popUp_1{
  width: 580px;
  height: 641px;
  background-image: asset-url("popup/1/applyPopup1_BG.png");
  padding: 0px;
  left: 50%;
  position:absolute;
  text-align: center;
  margin-top: -320px;
  margin-left: -300px;
}

.popUp_1_gift{
  margin: 12px;
  margin-bottom: 12px;
  border-color: #7FAB19;
  border-style: solid;
  border-width: 0px;
}

.popUp_1_giftLabelBox{
  width: 580px;
  font-size: 12px;
}
.popUp_1_giftLabel1{
  margin-left: 24px;
  margin-right: 16px;
}
.popUp_1_giftLabel2{
  margin-left: 152px;
  margin-right: 32px;
}
.popUp_1_giftLabel3{
  margin-right: 94px;
  margin-left: 100px;
}

#popUp_gift_border{
  display: none;
  position: absolute;
}
.popUp_1_selectBtn{
  margin-top: -12px;
}


/* popup 2 */
#popUp_2{
  width: 594px;
  height: 816px;
  background-image: asset-url("popup/2/applyPopup2_BG.png");
  padding: 0px;
  left: 50%;
  position:absolute;
  text-align: center;
  margin-top: -408px;
  margin-left: -300px;
}

.popUp_2_inputBox{
  width: 467px;
  height: 431px;
  background-image: asset-url("popup/2/applyPopup2_BG2.png");
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 20px;
  padding-top: 32px;
  padding-bottom: 16px;
  padding-left: 33px;
  text-align: left;
}

.popUp_2_InputLabel1{
  margin-right: 39px;
}
.popUp_2_InputLabel2{
  margin-left: -2px;
  margin-right: 16px;
  margin-top: 18px;
}
.popUp_2_InputLabel4{
  margin-left: 90px;
  margin-right: 16px;
  margin-top: 18px;
}
.popUp_2_InputLabel3{
  margin-left: -2px;
  margin-right: 18px;
  margin-top: 28px;
}
.popUp_2_Input{
  width: 50px;
  height: 36px;
  border: 0px;
  background-image: asset-url("popup/mobile_input.png");
  font-size: 20px;
  text-align: middle;
  padding-left: 22px;
  padding-right: 22px;
  line-height: 36px;
}
#message_store_id{
  width: 328px;
  font-size: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  resize: none;
}
.popUp_2_Label1{
  margin-top: 18px;
  margin-left: 88px;
}
.popUp_2_Label2{
  margin-top: 18px;
}
.popUp_2_Label3{
  vertical-align: middle;
  margin-top: -16px;
  margin-left: 88px;
  margin-right: 16px;
}

.popUp_2_selectBtn{
  margin-top: 12px;
}
.popUp_2_textarea{
  margin-top: 28px;
  width: 314px;
  height: 104px;
  resize: none;
  border: 0px;
  background-image: asset-url("popup/width_input.png");
  font-size: 14px;
  padding: 4px;
}

#location{
  width: 570px;
  height: 709px;
  background-image: asset-url("popup/2/location_form.png");
  display: none;
  position: absolute;
  top: 15px;
  left: -7px;
  border: 1px solid #000;
}

.location_label{
  margin-top: 80px;
}

.location_close{
  position: absolute;
  right: 0px;
  z-index: 2;
}

.location_searchBtn{
  margin-left: 24px;
  vertical-align: middle;
  margin-top: -3px;
}

.location_select{
  font-size: 22px;
  width: 454px;
  padding: 4px;
  border-color: #D2D2D2;
}

#loc_endBtn{
	margin-top: 32px;
	width: 260px;
}

/* popup 3 */
#popUp_3{
  width: 594px;
  height: 733px;
  background-image: asset-url("popup/3/applyPopup3_BG.png");
  padding: 0px;
  left: 50%;
  position:absolute;
  text-align: center;
  margin-top: -366px;
  margin-left: -300px;
}

.popUp_3_inputBox{
  width: 452px;
  height: 238px;
  background-image: asset-url("popup/3/applyPopup3_BG2.png");
  margin-left: 41px;
  margin-top: 24px;
  margin-bottom: 32px;
  padding-left: 48px;
  text-align: left;
}
.popUp_3_titleLabel{
  margin-top: 0px;
}

.popUP_3_subLabel{
  margin-top: 18px;
}

.popUp_3_Label1{
  margin-right: 56px;
  vertical-align: middle;
}
.popUp_3_Label2{
  margin-right: 24px;
  vertical-align: middle;
}
.popUp_3_Label3{
  margin-right: 40px;
  vertical-align: middle;
}

.popUp_3_InputStyle1{
  width: 276px;
  height: 36px;
  border: 0px;
  background-image: asset-url("popup/long_input.png");
  font-size: 20px;
  text-align: middle;
  padding-left: 22px;
  padding-right: 22px;
  line-height: 36px;
}
.popUp_3_InputStyle2{
  width: 50px;
  height: 36px;
  margin-top: 16px;
  border: 0px;
  background-image: asset-url("popup/mobile_input.png");
  font-size: 20px;
  text-align: middle;
  padding-left: 22px;
  padding-right: 22px;
  line-height: 36px;
}
.popUp_3_InputStyle3{
  width: 276px;
  height: 36px;
  margin-top: 16px;
  margin-bottom: 8px;
  border: 0px;
  background-image: asset-url("popup/long_input.png");
  font-size: 20px;
  text-align: middle;
  padding-left: 22px;
  padding-right: 22px;
  line-height: 36px;
}

.popUp_3_CautionLabel1{
  margin-right: 48px;
}
.popUp_3_CautionLabel2{
  margin-left: 24px;
}
.popUp_3_CautionLabel3{
  margin-left: 36px;
  vertical-align: middle;
  margin-top: -6px;
}

#person{
  display: none;
  background-image: asset-url("popup/5/applyPopup5_BG.png");
  position: absolute;
  width: 654px;
  height: 631px;
  top: 70px;
  left: -30px;
}

.personal_info_text{
  overflow-y: auto;
  width: 550px;
  height: 350px;
  margin-left: 42px;
  margin-bottom: 32px;
  border-weight: 0.25em;
  text-align: left;
}

.popUp_3_DotLine{
  margin-top: 24px;
}
.popUp_3_CautionLabel4{
  margin-top: 24px;
  margin-right: 112px;
  margin-bottom: 32px;
}

.applyPopup3_finButton2_img{
  width: 279px;
  height: 76px;
}

/* popup 4 */
#popUp_4{
  width: 594px;
  height: 333px;
  background-image: asset-url("popup/4/applyPopup4_BG.png");
  padding: 0px;
  left: 50%;
  position:absolute;
  text-align: center;
  margin-top: -166px;
  margin-left: -300px;
}

.social_popUp_4_Label{
  margin-top: -20px;
  margin-bottom: 3px;
}

.popUp_4_Label{
  margin-bottom: 30px;
}

.applyPopup4_exit_c{
  position: absolute;
  top: 1px;
  left: 522px;
  z-index: 1;
}

.applyPopup5_exit_c{
  position: absolute;
  top: 2px;
  left: 582px;
  z-index: 1;
}

/* popup 5 */
#popUp_5{
  width: 654px;
  height: 631px;
  background-image: asset-url("popup/5/applyPopup5_BG.png");
  padding: 0px;
  left: 50%;
  position:absolute;
  text-align: center;
  margin-top: -300px;
  margin-left: -327px;
}

.popUp_5_inBox{
  width: 542px;
  height: 360px;
  overflow: hidden;
  margin-left: 46px;
  position: relative;
}

.popUp_5_addition{
  margin-top: -220px;
  margin-left:  54px;
  position: absolute;
}

.popUp_5_button{
  margin-top: 26px;
  margin-left: -16px;
}

#popUp_5_move_1{
  width: 4380px;
  position: absolute;
  display: block;
}

#popUp_5_move_2{
  width: 4380px;
  position: absolute;
  display: none;
}

.popUp_5_ImageZone{
  float: left;
  position:absolute;
  width: 4380px;
  text-align: left;
  height: 360px;
}

.popUp_5_Arrow{
  margin-right: 450px;
}

.popUp_5_Btn{
  margin-right: 20px;
}
#applyPopup5_finButton_class1{
  width: 259px;
  height: 92px;
  background-image: asset-url("popup/5/applyPopup5_Button_1.png");
  float: left;
  margin-left: 62px;
}
#applyPopup5_finButton_class2{
  width: 259px;
  height: 92px;
  background-image: asset-url("popup/5/applyPopup5_Button_2_off.png");
  float: left;
  margin-left: 24px;
}

#popUp_6{
  width: 594px;
  height: 333px;
  background-image: asset-url("popup/6/applyPopup6_BG.png");
  padding: 0px;
  left: 50%;
  position:absolute;
  text-align: center;
  margin-top: -166px;
  margin-left: -300px;
}




/* popup blog */
#popUp_blog{
  width: 594px;
  height: 485px;
  background-image: asset-url("popup/blog/applyPopup6_BG.png");
  padding: 0px;
  left: 50%;
  position:absolute;
  text-align: center;
  margin-top: -242px;
  margin-left: -300px;
}

.popUp_blog_Label1{
  margin-bottom: 12px;
}
.popUp_blog_Label2{
  margin-top: 12px;
}

.popUp_blog_siteBox{
  font-size: 24px;
  margin-bottom: 32px;
}

/* popup div */
.inPopup{
  padding-top: 88px;
}

/* social popup 6 */
#social_popUp_6{
  display: none;
  width: 594px;
  height: 333px;
  background-image: asset-url("popup/6/social_applyPopup6_BG.png");
  padding: 0px;
  left: 50%;
  position:absolute;
  text-align: center;
  margin-top: -166px;
  margin-left: -300px;
  a.close-modal{
   top:0; 
   right:0;
  }
}

/* social popup blog */
#social_popUp_blog{
  display: none;
  width: 594px;
  height: 485px;
  background-image: asset-url("popup/blog/social_applyPopup6_BG.png");
  padding: 0px;
  left: 50%;
  position:absolute;
  text-align: center;
  margin-top: -242px;
  margin-left: -300px;
  a.close-modal{
   top:0; 
   right:0;
  }
  .popUp_blog_Label1{
    margin-bottom: 12px;
  }
  .popUp_blog_Label2{
    margin-top: 12px;
  }

  .popUp_blog_siteBox{
    font-size: 24px;
    margin-bottom: 32px;
  }
}


/* social form */
#social_form{
  display: none;
  width: 570px;
  height: 709px;
  background-image: asset-url("popup/3/social_form_bg.png");
  padding: 0px;
  left: 50%;
  position:absolute;
  text-align: center;
  margin-top: -366px;
  margin-left: -300px;
  a#closeModal{
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 54px;
    height: 54px; 
    text-indent: -9999px;
    background: asset-url("popup/applyPopup_close.png") no-repeat 0 0;    
  }

  .popUp_3_inputBox{
    width: 452px;
    height: 238px;
    background-image: asset-url("popup/3/applyPopup3_BG2.png");
    margin-left: 41px;
    margin-top: 24px;
    margin-bottom: 32px;
    padding-left: 48px;
    text-align: left;
  }
  .popUp_3_titleLabel{
    margin-top: 0px;
  }

  .popUP_3_subLabel{
    margin-top: 18px;
  }

  .popUp_3_Label1{
    margin-right: 56px;
    vertical-align: middle;
  }
  .popUp_3_Label2{
    margin-right: 24px;
    vertical-align: middle;
  }
  .popUp_3_Label3{
    margin-right: 40px;
    vertical-align: middle;
  }

  .popUp_3_InputStyle1{
    width: 276px;
    height: 36px;
    border: 0px;
    background-image: asset-url("popup/long_input.png");
    font-size: 20px;
    text-align: middle;
    padding-left: 22px;
    padding-right: 22px;
    line-height: 36px;
  }
  .popUp_3_InputStyle2{
    width: 53px;
    height: 36px;
    margin-top: 16px;
    border: 0px;
    background-image: asset-url("popup/mobile_input.png");
    font-size: 20px;
    text-align: middle;
    padding-left: 22px;
    padding-right: 22px;
    line-height: 36px;
  }
  .popUp_3_InputStyle3{
    width: 276px;
    height: 36px;
    margin-top: 16px;
    margin-bottom: 8px;
    border: 0px;
    background-image: asset-url("popup/long_input.png");
    font-size: 20px;
    text-align: middle;
    padding-left: 22px;
    padding-right: 22px;
    line-height: 36px;
  }

  .popUp_3_CautionLabel1{
    margin-right: 48px;
  }
  .popUp_3_CautionLabel2{
    margin-left: 24px;
  }
  .popUp_3_CautionLabel3{
    margin-left: 36px;
    vertical-align: middle;
    margin-top: -6px;
  }
  #social_form_person{
    display: none;
    background-image: asset-url("popup/5/applyPopup5_BG.png");
    position: absolute;
    width: 654px;
    height: 631px;
    top: 70px;
    left: -30px;
  }

  .personal_info_text{
    overflow-y: auto;
    width: 550px;
    height: 350px;
    margin-left: 42px;
    margin-bottom: 32px;
    border-weight: 0.25em;
    text-align: left;
  }

  .popUp_3_DotLine{
    margin-top: 24px;
  }
  .popUp_3_CautionLabel4{
    margin-top: 24px;
    margin-right: 112px;
    margin-bottom: 32px;
  }

  .applyPopup3_finButton2_img{
    width: 279px;
    height: 76px;
  }
}