/* popup 1 */
#popUp_1{
  width: 580px;
  height: 641px;
  background-image: asset-url("popup/1/applyPopup1_BG.png");
  padding: 0px;
  left: 50%;
  position:absolute;
  text-align: center;
  margin-top: -320px;
  margin-left: -300px;
}

.popUp_1_gift{
  margin: 12px;
  margin-bottom: 12px;
  border-color: #7FAB19;
  border-style: solid;
  border-width: 0px;
}

.popUp_1_giftLabelBox{
  width: 580px;
  text-align: left;
  font-size: 12px;
}
.popUp_1_giftLabel1{
  margin-left: 24px;
  margin-right: 16px;
}
.popUp_1_giftLabel2{
  margin-left: 24px;
  margin-right: 32px;
}
.popUp_1_giftLabel3{
  margin-left: 24px;
  margin-right: 56px;
}

#popUp_gift_border{
  display: none;
  position: absolute;
}
.popUp_1_selectBtn{
  margin-top: -12px;
}


/* popup 2 */
#popUp_2{
  width: 594px;
  height: 816px;
  background-image: asset-url("popup/2/applyPopup2_BG.png");
  padding: 0px;
  left: 50%;
  position:absolute;
  text-align: center;
  margin-top: -408px;
  margin-left: -300px;
}

.popUp_2_inputBox{
  width: 452px;
  height: 431px;
  background-image: asset-url("popup/2/applyPopup2_BG2.png");
  margin-left: 41px;
  margin-top: 24px;
  margin-bottom: 32px;
  padding-top: 32px;
  padding-bottom: 16px;
  padding-left: 48px;
  text-align: left;
}

.popUp_2_InputLabel1{
  margin-right: 32px;
}
.popUp_2_InputLabel2{
  margin-left: -2px;
  margin-right: 16px;
  margin-top: 18px;
}
.popUp_2_InputLabel3{
  margin-left: -2px;
  margin-right: 18px;
  margin-top: 28px;
}
.popUp_2_Input{
  width: 53px;
  height: 36px;
  border: 0px;
  background-image: asset-url("popup/mobile_input.png");
  font-size: 24px;
  text-align: middle;
  padding-left: 22px;
  padding-right: 22px;
}
#message_store_id{
  width: 328px;
  height: 38px;
  resize: none;
}
.popUp_2_Label1{
  margin-top: 18px;
  margin-left: 88px;
}
.popUp_2_Label2{
  margin-top: 18px;
}
.popUp_2_Label3{
  vertical-align: middle;
  margin-top: -16px;
  margin-left: 88px;
  margin-right: 16px;
}

.popUp_2_selectBtn{
  margin-top: 12px;
}
.popUp_2_textarea{
  margin-top: 28px;
  width: 318px;
  height: 108px;
  resize: none;
  border: 0px;
  background-image: asset-url("popup/width_input.png");
}


/* popup 3 */
#popUp_3{
  width: 594px;
  height: 733px;
  background-image: asset-url("popup/3/applyPopup3_BG.png");
  padding: 0px;
  left: 50%;
  position:absolute;
  text-align: center;
  margin-top: -366px;
  margin-left: -300px;
}

.popUp_3_inputBox{
  width: 452px;
  height: 238px;
  background-image: asset-url("popup/3/applyPopup3_BG2.png");
  margin-left: 41px;
  margin-top: 24px;
  margin-bottom: 32px;
  padding-left: 48px;
  text-align: left;
}
.popUp_3_titleLabel{
  margin-top: 0px;
}

.popUP_3_subLabel{
  margin-top: 18px;
}

.popUp_3_Label1{
  margin-right: 56px;
  vertical-align: middle;
}
.popUp_3_Label2{
  margin-right: 24px;
  vertical-align: middle;
}
.popUp_3_Label3{
  margin-right: 40px;
  vertical-align: middle;
}

.popUp_3_InputStyle1{
  width: 276px;
  height: 36px;
  border: 0px;
  background-image: asset-url("popup/long_input.png");
  font-size: 24px;
  text-align: middle;
  padding-left: 22px;
  padding-right: 22px;
}
.popUp_3_InputStyle2{
  width: 53px;
  height: 36px;
  margin-top: 16px;
  border: 0px;
  background-image: asset-url("popup/mobile_input.png");
  font-size: 24px;
  text-align: middle;
  padding-left: 22px;
  padding-right: 22px;
}
.popUp_3_InputStyle3{
  width: 276px;
  height: 36px;
  margin-top: 16px;
  margin-bottom: 8px;
  border: 0px;
  background-image: asset-url("popup/long_input.png");
  font-size: 24px;
  text-align: middle;
  padding-left: 22px;
  padding-right: 22px;
}

.popUp_3_CautionLabel1{
  margin-right: 48px;
}
.popUp_3_CautionLabel2{
  margin-left: 24px;
}
.popUp_3_CautionLabel3{
  margin-left: 36px;
  vertical-align: middle;
  margin-top: -6px;
}

#person{
  display: none;
  background-image: asset-url("popup/5/applyPopup5_BG.png");
  position: absolute;
  width: 654px;
  height: 631px;
  top: 70px;
  left: -30px;
}

.personal_info_text{
  overflow-y: auto;
  width: 550px;
  height: 350px;
  margin-left: 42px;
  margin-bottom: 32px;
  border-weight: 0.25em;
  text-align: left;
}

.popUp_3_DotLine{
  margin-top: 24px;
}
.popUp_3_CautionLabel4{
  margin-top: 24px;
  margin-right: 112px;
  margin-bottom: 32px;
}



/* popup 4 */
#popUp_4{
  width: 594px;
  height: 333px;
  background-image: asset-url("popup/4/applyPopup4_BG.png");
  padding: 0px;
  left: 50%;
  position:absolute;
  text-align: center;
  margin-top: -166px;
  margin-left: -300px;
}

.popUp_4_Label{
  margin-bottom: 32px;
}



/* popup 5 */
#popUp_5{
  width: 654px;
  height: 631px;
  background-image: asset-url("popup/5/applyPopup5_BG.png");
  padding: 0px;
  left: 50%;
  position:absolute;
  text-align: center;
  margin-top: -300px;
  margin-left: -327px;
}

.popUp_5_inBox{
  width: 542px;
  height: 360px;
  overflow: hidden;
  margin-left: 46px;
  position: relative;
}

.popUp_5_addition{
  margin-top: -220px;
  margin-left:  54px;
  position: absolute;
}

.popUp_5_button{
  margin-top: 26px;
  margin-left: -16px;
}

#popUp_5_move_1{
  width: 4380px;
  position: absolute;
  display: block;
}

#popUp_5_move_2{
  width: 4380px;
  position: absolute;
  display: none;
}

.popUp_5_textZone{
  width: 4380px;
  height: 103px;
  margin-top: 262px;
  position:absolute;
  color:white;
  float: left;
  text-align: left;
}

.popUp_5_textZone img{
  width: 542px;
}

.popUp_5_ImageZone{
  float: left;
  position:absolute;
  width: 4380px;
  text-align: left;
  top: -280px;
  height: 360px;
}

.popUp_5_giftImage1{
  margin-bottom: 130px;
  width: 542px;
}
.popUp_5_giftImage2{
  margin-bottom: 100px;
  width: 542px;
}
.popUp_5_giftImage3{
  margin-bottom: 70px;
  width: 542px;
}
.popUp_5_giftImage4{
  margin-bottom: 125px;
  width: 542px;
}
.popUp_5_giftImage5{
  margin-bottom: 130px;
  width: 542px;
}
.popUp_5_giftImage6{
  margin-bottom: 10px;
  width: 542px;
}
.popUp_5_giftImage7{
  margin-bottom: 140px;
  width: 542px;
}
.popUp_5_giftImage8{
  margin-bottom: 100px;
  width: 542px;
}
.popUp_5_Arrow{
  margin-right: 450px;
}

.popUp_5_Btn{
  margin-right: 20px;
}



/* popup blog */
#popUp_blog{
  width: 594px;
  height: 485px;
  background-image: asset-url("popup/blog/applyPopup6_BG.png");
  padding: 0px;
  left: 50%;
  position:absolute;
  text-align: center;
  margin-top: -242px;
  margin-left: -300px;
}

.popUp_blog_Label1{
  margin-bottom: 12px;
}
.popUp_blog_Label2{
  margin-top: 12px;
}

.popUp_blog_siteBox{
  font-size: 24px;
  margin-bottom: 32px;
}

/* popup div */
.inPopup{
  padding-top: 88px;
}